*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e293b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #0f172a;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #334155;
}

.perfil{
    display: flex;
    align-items: center;
    gap: 15px;
}

.foto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #38bdf8;
}

.info h1{
    font-size: 32px;
    margin-bottom: 10px;
}

.info p{
    margin-top: 5px;
    color: #cbd5e1;
}

.logo{
    width: 300px;
    background-color: rgba(255,255,255,0.05);
    padding: 10px;
    border-radius: 10px;
}

.contenedor{
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.bienvenida{
    background-color: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 40px;
    text-align: center;
}

.bienvenida h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.bienvenida p{
    color: #d1d5db;
    line-height: 1.6;
}

.titulo{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    width: 400px;
    background-color: rgba(255,255,255,0.05);
    border-radius: 15px;
    padding: 25px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    border: 1px solid #334155;
}

.card:hover{
    background-color: rgba(255,255,255,0.08);
}

.materiaTop{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icono{
    width: 65px;
    height: 65px;
    background-color: #2563eb;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.materiaTop h3{
    font-size: 28px;
}

.descripcionMateria{
    color: #d1d5db;
    line-height: 1.6;
}

.footer{
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #0f172a;
    color: #cbd5e1;
}

@media(max-width:850px){

    .header{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .perfil{
        flex-direction: column;
    }

    .logo{
        width: 220px;
    }

    .card{
        width: 100%;
    }

}